<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="sessionRedisCache" class="com.yootk.ssm.util.cache.RedisCache">
        <property name="redisConnectionFactory" ref="shiroSessionRedisConnectionFactory"/>  <!--因为本身是bean配置的，不是配置文件配置的，本身就有冲突，不影响-->
    </bean>

    <!--定义一个新的Redis缓存管理器，该缓存管理器设置的时候要设置有若干个RedisCache对象，以及对应的缓存名称-->
    <bean id="cacheManager" class="com.yootk.ssm.util.cache.manager.RedisCacheManager">
        <property name="cacheManagerMap">
            <map>
                <entry key="shiro-activeSessionCache" value-ref="sessionRedisCache" />
            </map>
        </property>
    </bean>
</beans>