<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            https://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            https://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 进行扫描包的设置，如果要设置多个包，则可以使用“,”拆分 -->
    <context:component-scan base-package="com.yootk.ssm.service,com.yootk.ssm.dao"/>
    <context:property-placeholder location="classpath:config/*.properties"/>
    <aop:aspectj-autoproxy/>    <!-- 启用Annotation注解支持 -->
    <import resource="spring-datasource.xml"/>
    <import resource="spring-transaction.xml"/>
    <import resource="spring-mybatis.xml"/>
    <import resource="spring-shiro.xml"/>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

    <!--如果要想在控制器之中使用代理的控制操作，则必须在代码之中配置有一个AOP，所有的Shiro注解依赖于AOP的模式实现-->
    <bean id="serviceDefaultAdvisorAutoProxyCreatoz"
          depends-on="lifecycleBeanPostProcessor"
          class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"  >
        <property name="proxyTargetClass" value="true"/>    <!--开启代理操作-->
    </bean>

    <!--针对于SecurityManager设置一个处理的拦截器-->
    <bean id="serviceAuthorizationAttributeSourceAdvisor" class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor" >
        <property name="securityManager" ref="securityManager" />
    </bean>
</beans>