<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 1、Shiro整合处理的时候，Realm是整合业务层（RPC端）的核心处理综合点 -->
    <bean id="memberReam" class="com.yootk.ssm.realm.MemberRealm"/>
    <!-- 2、整个的Shiro里面最为重要的就是SecurityManager，这个类之中需要追加realm配置 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="memberReam"/>   <!-- 配置要使用的Realm处理程序 -->
    </bean>

    <!--3、采用内置过滤器的形式实现用户登录控制处理-->
    <bean id="formAuthenticationFilter" class="org.apache.shiro.web.filter.authc.FormAuthenticationFilter">
        <property name="usernameParam" value="mid"/>    <!--用户名参数名称配置-->
        <property name="passwordParam" value="password"/>   <!--密码参数名称配置-->
        <property name="loginUrl"  value="/login.action"/>  <!--表单提交路径-->
        <property name="failureKeyAttribute" value="errors" />  <!--保存错误信息的属性名称-->
    </bean>

    <bean id="logoutFilter" class="org.apache.shiro.web.filter.authc.LogoutFilter">
        <!--在登录注销实现之后，将跳转到CommonAction中配置的"/logoutInfo.action"路径-->
        <property name="redirectUrl" value="/logoutInfo.action" />
    </bean>

    <!-- 4、 在Spring中配置有关Shiro的全部的过滤器的定义，这个名称必须与web.xml文件保持一致-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login.action"/> <!-- 配置登录页 -->
        <property name="successUrl" value="/pages/welcome.action" />   <!-- 配置登录页 -->
        <property name="filters">
            <map>
                <!--authc描述的执行处理路径，此时相当于替换了原始的authc功能-->
                <entry key="authc" value-ref="formAuthenticationFilter" />
                <entry key="logout" value-ref="logoutFilter" />
            </map>
        </property>
        <property name="filterChainDefinitions"><!-- 检测路径 -->
            <value>
                /logout.shiro=logout
                /login.action=authc  <!--过滤路径-->
                /pages/**=authc
            </value>
        </property>
    </bean>
</beans>